body {
    font-size: 8pt;
}
table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
input[type="text"] {
    padding-top: 2px;
    padding-bottom: 2px;
}

#account-box-table,
#account-box-table col {
    border: 1px solid silver;
}
.second-level-header th {
    font-weight: normal;
}
.account-box {
    border: 1px solid silver;
    white-space: nowrap;
}
.account-box td {
    padding: 1px 3px;
}

.account-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 200px;
}
.account-name-name {
    font-weight: bold;
}
.folder-account {
    width: 200px;
    min-height: unset;
    line-height: normal !important;
}
.folder-location {
    width: 100%;
}

:root {
    --background-ham: #f4f9f1;
    --background-spam: #fbf3f1;
    --background-hover-ham: #e9f5e3;
    --background-hover-spam: #f7e7e3;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-ham: #102d00;
        --background-spam: #390b00;
        --background-hover-ham: #1b4c01;
        --background-hover-spam: #5f1300;
    }
}

select {
    border: 1px solid var(--in-content-box-border-color);
}
.ham {
    background-color: var(--background-ham) !important;
}
.spam {
    background-color: var(--background-spam) !important;
}
.ham:hover {
    background-color: var(--background-hover-ham) !important;
}
.spam:hover {
    background-color: var(--background-hover-spam) !important;
}
