fieldset {
    margin-block: 0.5em;
    border-radius: 4px;
}
button {
    text-align: center;
}
/* Numeric input width calculation is broken in Thunderbird 115 and 128b */
input[type="number"] {
    min-width: 4.6em;
}

input[type="checkbox"],
input[type="radio"],
label {
    vertical-align: middle;
}
#column-display-fieldset {
    display: flex;
    flex-direction: column;
}
.column-display-note {
    color: black;
    background-color: #ffe900;
    border-radius: 4px;
    padding: 4px 8px;
}

.fuzzy-settings {
    display: flex;
    gap: 10px;
}
.fuzzy-settings > fieldset {
    flex: 1;
}
.fuzzy-settings-group {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.fuzzy-group {
    display: flex;
    align-items: center;
}

.error-message {
    color: var(--in-content-border-invalid, #ff0039);
    font-size: smaller;
    display: none;
    margin-left: var(--input-text-x-margin, 4px);
    margin-top: 2px;
}

input.invalid {
    outline: 2px solid var(--in-content-border-invalid, #ff0039) !important;
    outline-offset: -1px;
    -moz-outline-radius: 4px;
}

#server-status-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
#check-server-status-button {
    flex-shrink: 0;
}
#server-status-message {
    font-weight: bold;
    margin: 0;
}
:root {
    --spinner-size: 24px;
}
