#introContainer {
    -moz-box-align: center;
}
#spamnessIcon {
    list-style-image: url("chrome://rspamd-spamness/skin/icon64x64.png");
    height: 64px;
    width: 64px;
}
vbox {
    padding: 5px;
}
groupbox {
    margin-top: 10px;
}
