/* stylelint-disable selector-class-pattern */

mail-link {
    margin: 1px;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
}
mail-link::before {
    content: "";
    display: block;
    margin-top: -0.1em;
}
mail-link:hover {
    background-color: #aaa;
}

.linkDisplayButton {
    display: inline-block;
    margin: 0;
}

:root {
    --greyl: #d8e0f6;
    --ham: #d4ebc8;
    --spam: #f0d0c8;
    --warn: #fff9c4;
    --hover-greyl: #abc1fc;
    --hover-ham: #b4eba8;
    --hover-spam: #f0b0a8;
    --hover-warn: #f7e88c;
    --no-action: var(--ham);
    --add-header: var(--spam);
    --rewrite-subject: var(--spam);
    --notification-text-color: #4f4f4f;
    --spinner-size: 9px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --greyl: #0943e7;
        --ham: #369903;
        --spam: #bf2600;
        --warn: #ffe900;
        --hover-greyl: #91aeff;
        --hover-ham: #65c26d;
        --hover-spam: #cc776c;
        --hover-warn: #ffff66;
        --notification-text-color: #e0e0e0;
    }
}

/* stylelint-disable selector-id-pattern */
#expandedRspamdSpamnessRow hbox {
    display: block;
}
#expandedRspamdSpamnessRow hbox > * {
    display: inline-block;
    vertical-align: middle;
}
#rspamdSpamnessNotificationArea {
    border: 1px solid #bbbbbb;
    color: var(--notification-text-color);
    border-radius: 2px;
}
#rspamdSpamnessNotificationArea.hidden {
    display: none;
}

#rspamdSpamnessNotificationArea.log,
.linkDisplayButtonGreyl {
    background-color: var(--greyl);
}
#rspamdSpamnessNotificationArea.info,
.linkDisplayButtonHam {
    background-color: var(--ham);
}
#rspamdSpamnessNotificationArea.error,
.linkDisplayButtonSpam {
    background-color: var(--spam);
}
#rspamdSpamnessNotificationArea.warn {
    background-color: var(--warn);
}

#rspamdSpamnessNotificationArea.log:hover,
.linkDisplayButtonGreyl:hover {
    background-color: var(--hover-greyl);
}
#rspamdSpamnessNotificationArea.info:hover,
.linkDisplayButtonHam:hover {
    background-color: var(--hover-ham);
}
#rspamdSpamnessNotificationArea.error:hover,
.linkDisplayButtonSpam:hover {
    background-color: var(--hover-spam);
}
#rspamdSpamnessNotificationArea.warn:hover {
    background-color: var(--hover-warn);
}
.spinner {
    margin-inline: 4px;
}

.linkSeparator {
    display: inline-block;
    margin: -0 -3px 0 0;
}

/* stylelint-disable-next-line selector-type-no-unknown */
#expandedRspamdSpamnessRow mail-headerfield,
#rspamdSpamnessNotificationArea {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
#rspamdSpamnessActionHeader {
    border-radius: 2px;
    margin-right: 0.2em;
}

#expandedRspamdSpamnessRulesBox {
    display: flex;
    width: 100%;
}

#rulesHeaderValueBox {
    display: flex;
    overflow-y: inherit;
}
#links {
    display: inline-block;
    overflow-y: inherit;
}
.fieldCollapsed {
    overflow-y: hidden;
}
#heightButton {
    height: auto;
    min-height: calc(1.6em + 2px);
    min-width: unset;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 1px !important;
    padding-right: 1px !important;
    shape-rendering: crispEdges;
}
